@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
* {
    box-sizing: border-box;
}

html {
    background-color: #CC61FFDE;
    /* e9b6ff */
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("background_img.png");
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px 0 0px;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    margin: 0;
}

.white_bg {
    color: #460559;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: .5px;
    margin: 20px 0 30px;
}

span {
    font-size: 12px;
}

.header {
    position: absolute;
    top: 0%;
    width: 100%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    color: #CC61FFDE;
    text-align: center;
    text-transform: uppercase;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0;
}

.form-container form {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-container {
    margin: 20px 0;
}

.social-container a {
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.form-container input {
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

button {
    border-radius: 20px;
    border: 1px solid #9a5fec;
    background: #9a5fec;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

button:active {
    transform: scale(.95);
}

button:focus {
    outline: none;
}

button.ghost {
    background: transparent;
    border-color: #fff;
}

.overlay {
    background: #e492d2;
    background: linear-gradient(0deg, #CC61FFDE 50%, #5844D5 100%) no-repeat 0 0 / cover;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 113%;
    width: 50%;
    text-align: center;
    transform: translateY(0);
    transition: transform .6s ease-in-out;
}

.footer {
    margin-top: 25px;
    text-align: center;
}

.icons {
    display: flex;
    width: 30px;
    height: 30px;
    letter-spacing: 15px;
    align-items: center;
}


/* MEDIA QUERY  */

@media screen and (min-device-width: 1200px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 15%;
        left: 25%;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 480px;
    }
    .form-container {
        position: absolute;
        top: 0;
        height: 100%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 0;
        width: 50%;
        z-index: 2;
    }
    .sign-up-container {
        left: 0;
        width: 50%;
        z-index: 1;
        opacity: 0;
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0);
    }
    .overlay-left {
        transform: translateY(-20%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(100%);
    }
    /* Move overlay to left */
    .container.right-panel-active .overlay-container {
        transform: translateX(-100%);
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateX(100%);
        opacity: 1;
        z-index: 5;
    }
    /* Move overlay back to right */
    .container.right-panel-active .overlay {
        transform: translateX(50%);
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(20%);
    }
}

@media screen and (min-device-width: 1000px) and (max-device-width: 1200px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 6%;
        left: 20%;
        overflow: hidden;
        width: 768px;
        max-width: 100%;
        min-height: 830px;
    }
    #container {
        width: 700px;
    }
    .form-container {
        position: absolute;
        top: 50%;
        height: 50%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 25%;
        width: 50%;
        z-index: 2;
        opacity: 1;
        transform: translateY(0%);
    }
    .sign-up-container {
        left: 25%;
        width: 50%;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0%);
        z-index: 100;
    }
    .overlay-left {
        /* color: black; */
        right: 0%;
        transform: translateY(-75%);
        z-index: 1;
        opacity: 1;
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(75%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(-100%);
        opacity: 0;
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (min-device-width: 800px) and (max-device-width: 1000px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 7%;
        left: 15%;
        overflow: hidden;
        width: 768px;
        max-width: 200%;
        min-height: 830px;
    }
    #container {
        width: 700px;
    }
    .form-container {
        position: absolute;
        top: 50%;
        height: 50%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 25%;
        width: 50%;
        z-index: 2;
        opacity: 1;
        transform: translateY(0%);
    }
    .sign-up-container {
        left: 25%;
        width: 50%;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0%);
        z-index: 100;
    }
    .overlay-left {
        /* color: black; */
        right: 0%;
        transform: translateY(-75%);
        z-index: 1;
        opacity: 1;
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(75%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(-100%);
        opacity: 0;
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (min-device-width: 650px) and (max-device-width: 800px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 13%;
        left: 15%;
        overflow: hidden;
        width: 300px;
        max-width: 200%;
        min-height: 900px;
    }
    #container {
        width: 700px;
    }
    h1 {
        font-weight: bold;
        margin: 0;
        font-size: 50px;
    }
    p {
        font-size: 20px;
        font-weight: 100;
        line-height: 40px;
        letter-spacing: .5px;
        margin: 20px 0 30px;
    }
    .form-container {
        position: absolute;
        top: 50%;
        height: 50%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 25%;
        width: 50%;
        z-index: 2;
        opacity: 1;
        transform: translateY(0%);
    }
    .sign-up-container {
        left: 25%;
        width: 50%;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0%);
        z-index: 100;
    }
    .overlay-left {
        /* color: black; */
        right: 0%;
        transform: translateY(-75%);
        z-index: 1;
        opacity: 1;
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(75%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(-100%);
        opacity: 0;
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (min-device-width: 400px) and (max-device-width: 650px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 16%;
        left: 15%;
        overflow: hidden;
        width: 300px;
        max-width: 200%;
        min-height: 1300px;
    }
    #container {
        width: 700px;
    }
    h1 {
        font-weight: bold;
        margin: 0;
        font-size: 80px;
    }
    p {
        font-size: 21px;
        font-weight: 100;
        line-height: 30px;
        letter-spacing: .5px;
        margin: 20px 0 30px;
    }
    button.ghost {
        background: transparent;
        border-color: #fff;
        font-size: 25px;
        border-radius: 30px;
    }
    .form-container {
        position: absolute;
        top: 50%;
        height: 50%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 25%;
        width: 50%;
        z-index: 2;
        opacity: 1;
        transform: translateY(0%);
    }
    .sign-up-container {
        left: 25%;
        width: 50%;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0%);
        z-index: 100;
    }
    .overlay-left {
        /* color: black; */
        right: 0%;
        transform: translateY(-75%);
        z-index: 1;
        opacity: 1;
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(75%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(-100%);
        opacity: 0;
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media screen and (max-device-width: 400px) {
    .container {
        background: #fff;
        border-radius: 10px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, .2), 0 10px 10px rgba(0, 0, 0, .2);
        position: absolute;
        top: 21%;
        left: 10%;
        overflow: hidden;
        width: 800px;
        max-width: 250%;
        min-height: 1500px;
    }
    h1 {
        font-weight: bold;
        margin: 0;
        font-size: 90px;
    }
    .form-container {
        position: absolute;
        top: 50%;
        height: 50%;
        transition: all .6s ease-in-out;
    }
    .sign-in-container {
        left: 25%;
        width: 50%;
        z-index: 2;
        opacity: 1;
        transform: translateY(0%);
    }
    .sign-up-container {
        left: 25%;
        width: 50%;
        z-index: 1;
        opacity: 0;
        transform: translateY(-100%);
    }
    .overlay-container {
        position: absolute;
        top: 0;
        left: 0%;
        width: 100%;
        height: 50%;
        overflow: hidden;
        transition: transform .6s ease-in-out;
        z-index: 100;
    }
    .overlay-right {
        right: 0;
        transform: translateY(0%);
        z-index: 100;
    }
    .overlay-left {
        /* color: black; */
        right: 0%;
        transform: translateY(-75%);
        z-index: 1;
        opacity: 1;
    }
    /* Bring back the text to center */
    .container.right-panel-active .overlay-left {
        transform: translateY(0);
    }
    /* Same effect for right */
    .container.right-panel-active .overlay-right {
        transform: translateY(75%);
    }
    /* Move signin to right */
    .container.right-panel-active .sign-in-container {
        transform: translateY(-100%);
        opacity: 0;
    }
    /* Bring signup over signin */
    .container.right-panel-active .sign-up-container {
        transform: translateY(0%);
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .wave {
        display: none;
    }
}


/*WAVES*/

.waves {
    background-color: #5844D5;
    color: #5844D5;
}

section {
    position: absolute;
    top: 75%;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}

section .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: url(https://i.postimg.cc/mrr9nF11/wave.png);
    background-size: 1000px 100px;
}

a section .wave.wave1 {
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}

section .wave.wave2 {
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}

section .wave.wave3 {
    animation: animate3 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: 2s;
    bottom: 15px;
}

section .wave.wave4 {
    animation: animate2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 10px;
}

@keyframes animate {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 1000px;
    }
}

@keyframes animate2 {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -1000px;
    }
}
